{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section"> 
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group" style="margin-top: 100px;">
                <legend class="border-bottom mb-4">Logowanie</legend>
                    {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Nazwa użytkownika:</label>
            <!-- {{ form.username | as_crispy_field}} -->
<input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" class="textinput textInput form-control" required="" id="id_username">
        </div>
        <div class="fieldWrapper ">
            {{ form.password.errors }}
            <label for="{{ form.password.id_for_label }}">Hasło:</label>
           <!-- {{ form.password | as_crispy_field }} -->
<input type="password" name="password" autocomplete="current-password" class="textinput textInput form-control" required="" id="id_password">
        </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Zaloguj</button>
            </div>
        </form>
        <div class="border-top pt-3"">
            <small class="text-muted">
                Potrzebujesz konta ? <a href="{% url 'register' %}" class="ml-2">Zarejestruj !</a>
            </small>
        </div>
    </div>
    <div style="margin-top: 250px;"></div>
{% endblock content %}