{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JDIY</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'jquery-fab-button.css' %}" >
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
            crossorigin="anonymous"></script>
    <script src="{% static 'jquery-fab-button.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
        {% if user.is_authenticated %}
            <div class="logowanie" >
              <a class="logowanie1" href="{% url 'profile' %}">Profil</a>/<a class="logowanie1" href="{% url 'logout' %}?next=/">Wyloguj</a>
            </div>
        {% else%}
            <div class="logowanie" >
              <a class="logowanie1" href="{% url 'login' %}">Logowanie</a>/<a class="logowanie1" href="{% url 'register' %}">Rejestracja</a>
            </div>
        {% endif%}

        <div class="logo">
          <a class="logotext1">JDIY.com</a><br />
          <a class="logotext2">JUST DO IT YOURSELF ...</a>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFBB00;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto ml-5 mt-2 mt-lg-0">
                  <li class="nav-item ">
                    <a class="nav-link" href="{% url 'home' %}">
                      <img src="{% static 'home.png' %}" alt="" >
                      Strona główna
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'projects' %}">
                      <img src="{% static 'Klucz.png' %}" alt="" >
                      Projekty
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'posts' %}">
                      <img src="{% static 'pytania.png' %}" alt="" >
                      Pytania i odpowiedzi
                    </a>
                  </li>
                </ul>
                <form class="form-inline w-lg-25" method="GET" action="{% url 'search' %}">
                  <div class="input-group input-group-lg col-md-12 col-sm-12" id="skalowanie_pola_wyszukiwania">
                    <input type="text" name="search" id="rounded" class="form-control" placeholder="Szukaj ..." >
                   <img id="obrazek_lupy" type="submit" src="{% static 'search.png' %}" alt="" >
                  </div>
                </form>
            </div>
        </nav>
    {% block scontent %}
    {% endblock %}
    {% block content-list %}
    {% endblock %}
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

      {% block contentf %}
      {% endblock %}

    <div class="flexbox-container">
      {% block flexcontent %}
      {% endblock %}
    </div>

<div class="fixed-action-btn horizontal " style="bottom: 45px; right: 45px;">
  <a class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li>
        <a class="btn-floating bg-indigo btn-large" href="{% url 'project-create' %}">
        <img class="imgbutton"src="{% static 'klucz.png' %}" alt="" >
      </a>
    </li>
    <li>
        <a class="btn-floating bg-indigo btn-large " href="{% url 'post-create' %}">
        <img class="imgbutton"src="{% static 'pytania.png' %}" alt="" >
      </a>
    </li>
  </ul>
</div>

<footer class="page-footer foorte_properties ">
	<div class="container-fluid text-center text-lg-left">
	  <div class="row">
		<div class="col-xl-1 d-none d-xl-block">
		</div>
		<div class="col-xl-10 col-lg-12">
			<div class="row">
				<div class="col-xl-1 d-none d-xl-block">
					<img src="{% static 'kreskastopka.png' %}" alt="" >
				</div>
				<div class="col-xl-4 col-lg-4">
				  	<div class="logo_stopka">
						<a id="logo_main_text_stopka">JDIY.com</a><br />
						<a id="logo_sub_text_stopka">JUST DO IT YOURSELF ...</a><br /><br />
						<a id="email_text_stopka">EMAIL: BIURO@JDIY.COM</a>
					</div>
				</div>
				<div class="col-xl-1 col-lg-1 d-none d-lg-block">
				  <img src="{% static 'kreskastopka.png' %}" alt="" >
				</div>
				<hr class="clearfix w-100 d-lg-none">
				<div class="col-xl-5 col-lg-7 ">
					<div class="media_spolecznosciowe_stopka">
						<div class="row text-center">
							<div class="col">
								<a id="socialmedia_text_stopka">Obserwuj nas w mediach społecznościowych</a>
							</div>
						</div>
						<div class="row text-center">
							<div class="col-2"></div>
							<div class="col-2"><a href="https://www.facebook.com/STeS-Sandomierskie-Turnieje-E-Sportowe-1588382758140410"><img class="logo_spolecznosciowe" src="{% static 'fb.png' %}" alt=""></a></div>
							<div class="col-2"><a href="https://www.instagram.com"><img class="logo_spolecznosciowe instagram" src="{% static 'instagram.png' %}" alt="" ></a></div>
							<div class="col-2"><a href="https://www.youtube.com"><img class="logo_spolecznosciowe youtube" src="{% static 'yt.png' %}" alt="" ></a></div>
							<div class="col-2"><a href="https://www.twitter.com"><img class="logo_spolecznosciowe twitter" src="{% static 'twitter.png' %}" alt="" ></a></div>
							<div class="col-2"></div>
						</div>
					</div>
				</div>
				<div class="col-xl-1 d-none d-xl-block">
				  <img id="prawakreska" src="{% static 'kreskastopka.png' %}" alt="" >
				</div>
			</div>
		</div>
		<div class="col-xl-1 d-none d-xl-block">
		</div>
	  </div>
	</div>
</footer>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<!-- Footer -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>