{% extends 'app/base.html'%}
{% load static %}
{% block content-list %}
    <div class="container-fluid my-4">
        <div class="col-12">
            <div class="row">
                {% for project in all_search_results %}
                    <div onclick="location.href='{% url 'project-detail' project.id %}'" class="col-lg-6 col-md-12 oferta_zdjecie cursor-pointer" style="background-image: url('{{project.miniature.url}}');" >
                        <div class="title_bar">
                            <p class="onelane1">{{ project.title }}</p>
                            <a class="napis_srednia">Ilość polubień : {{ project.likes.count }}</a>
                        </div>
                    </div>
                    {% empty %}
                    <div class="container" style="margin-top: 240px; font-size: 36px">
                    <div class="error">There is nothing to show</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="flexbox-container2" style="margin-bottom: -60px;">

        {% if is_paginated %}
  <ul class="pagination" style="margin: auto;">
    {% if page_obj.has_previous %}
      <li><a class="btn btn-warning" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled btn btn-warning"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active btn btn-warning"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a class="btn btn-warning" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a class="btn btn-warning" href="?page={{ page_obj.next_page_number }}">&raquo;</></li></a>
    {% else %}
      <li class="disabled btn btn-warning"><span>&raquo;</span></li>
    {% endif %}
  </ul>
    {% endif %}

</div>

{% endblock%}
